<div class="h-full bg-gray-100">
  <div style="display: grid; grid-template-columns: 1fr 2fr; height: 100vh">
    <div class="shadow-md rounded-xl p-4 m-4 bg-white h-5/6 overflow-auto">
      <mat-selection-list [multiple]="false">
        <mat-list-option
          *ngFor="let u of userList"
          (click)="handleUserChange(u)"
          class="border-b-2 border-bottom-gray-400"
        >
          <span style="font-weight: 600">
            {{ u.name }}
          </span>
        </mat-list-option>
      </mat-selection-list>
    </div>

    <div class="shadow-md rounded-xl p-4 m-4 bg-white h-5/6 overflow-auto">
      <div
        class="text-center"
        style="display: flex; align-items: center; justify-content: center"
      >
        <span
          style="
            display: flex;
            width: 2rem;
            height: 1rem;
            background-color: #00ffff8f;
          "
        ></span>
        <span class="px-2"> Minutes </span>
      </div>

      <div class="text-center font-semibold text-3xl">
        {{ selectedUser }}'s workout progress
      </div>

      <div id="container"></div>
    </div>
  </div>
</div>
