<form [formGroup]="workoutForm" class="shadow-md rounded-xl p-4 m-4 bg-white">
  <h4 class="font-semibold py-2">Workout Form</h4>
  <!-- User -->
  <mat-form-field>
    <mat-label>User Name</mat-label>
    <input formControlName="user" matInput placeholder="" />
    <mat-error *ngIf="workoutForm.controls?.['user']?.hasError('required')">
      User is required
    </mat-error>
  </mat-form-field>
  <div class="flex">
    <!-- Workout type -->
    <mat-form-field appearance="fill">
      <mat-label>Workout Type</mat-label>
      <mat-select formControlName="type" errorState>
        <mat-option *ngFor="let w of workoutTypes" [value]="w">
          {{ w }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="workoutForm.controls?.['type']?.hasError('required')">
        Workout type is required
      </mat-error>
    </mat-form-field>
    <!-- Workout minutes -->
    <mat-form-field class="mx-2">
      <mat-label> Workout Minutes</mat-label>
      <input formControlName="minutes" matInput type="number" placeholder="" />
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    (click)="onSubmit($event)"
    class="!rounded-full mt-4"
  >
    Add Workout
  </button>
</form>

<div class="shadow-md rounded-xl p-4 m-4 bg-white">
  <h4 class="font-semibold py-2">Workout Form</h4>

  <div class="flex">
    <!-- Search -->
    <mat-form-field class="w-full">
      <input
        [(ngModel)]="search"
        (ngModelChange)="onModelChange($event)"
        matInput
        placeholder="Search"
      />
    </mat-form-field>
    <!-- Workout type -->
    <mat-form-field appearance="fill" class="w-full ml-2 ms-2">
      <mat-label>Filter by Workout Type</mat-label>
      <mat-select
        [(ngModel)]="selectedFilterType"
        (selectionChange)="filterByWorkoutType($event.value)"
      >
        <mat-option *ngFor="let w of filterTypes" [value]="w">
          {{ w }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-table [dataSource]="paginatedData | searchByKey : search : 'name'">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- Workouts Column -->
    <ng-container matColumnDef="workouts">
      <mat-header-cell *matHeaderCellDef> Workouts </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngFor="let workout of element.workouts; let i = index">
          {{ workout.type }} {{ i != element.workouts?.length - 1 ? ", " : "" }}
        </span>
      </mat-cell>
    </ng-container>

    <!-- Number of Workouts Column -->
    <ng-container matColumnDef="numberOfWorkouts">
      <mat-header-cell *matHeaderCellDef> Number of Workouts </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.workouts?.length }}
      </mat-cell>
    </ng-container>

    <!-- Total Workout Minutes Column -->
    <ng-container matColumnDef="totalWorkoutMinutes">
      <mat-header-cell *matHeaderCellDef>
        Total Workout Minutes
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.totalWorkoutMinutes }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<div class="flex items-center justify-between p-4">
  <button
    mat-button
    class="flex items-center"
    (click)="previousPage()"
    [disabled]="currentPage === 1"
  >
    <span>&laquo; Previous</span>
  </button>
  <div class="flex items-center">
    <ng-container *ngFor="let page of pages">
      <button
        mat-button
        class="mx-1"
        [class.active]="page === currentPage"
        (click)="goToPage(page)"
      >
        {{ page }}
      </button>
    </ng-container>
  </div>
  <button
    mat-button
    class="flex items-center"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
  >
    <span>Next &raquo;</span>
  </button>
  <div class="flex items-center ml-4">
    <span>Items per page:</span>
    <mat-form-field appearance="fill" class="mx-2">
      <mat-select
        [(value)]="itemsPerPage"
        (selectionChange)="onItemsPerPageChange($event.value)"
      >
        <mat-option
          *ngFor="let option of itemsPerPageOptions"
          [value]="option"
          >{{ option }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
</div>
